<header>
  <div class='container'>
    <ul>
      <li><a href="#" routerLink='/home' class='title'> Mitch's App of Randomness</a></li>
      <li><a href="#" class='right' routerLink='/travel'>Travel Time</a></li>
      <li><a href="#" class='right' routerLink='/seinfeld'>Seinfeld Quotes</a></li>
      <li><a href="#" class='right' routerLink='/coffee'>Precision Coffee Heating</a></li>
      <li><a href="#" class='right' routerLink='/choice'>Decision Maker</a></li>
    </ul>
  </div>
</header>



<div class="container">
  <router-outlet></router-outlet>
</div>