// input {
//     text-align: center;
// }

// .choice {
//   display: flex;
//   text-align: center;
// }

// input {
//   // border-radius: 1em;
//   display: block;
//   margin: 1em auto;
//   text-align: center;
//   // padding: .3em 2em;
//   // background-color: #428dee;
//   // background-color: lightsteelblue;
// }

.center {
  // border-radius: 1em;
  display: block;
  margin: 0.2em auto;
  text-align: center;
  // padding: .3em 2em;
  // background-color: #428dee;
  // background-color: lightsteelblue;
}

.bold {
  font-style: bold;
  font-size: 20px;
}