
<button (click)="addChoice()">ADD CHOICE</button>
<button (click)="generateDecision()" >Choose</button>
<div *ngFor="let x of choices; let i =  index" id="{{i}}" >
    <input (keydown.enter)="generateDecision()" class="center" type="text" [(ngModel)]="x.value" placeholder="insert choice">
</div>
<br>
<label class="center bold" for="choice">TOP CHOICES</label><br>
<div class="center" *ngFor="let key of sortedKeysSmall">
    <label>Choice: {{key}}   |</label>
    <label>   Count: {{choiceObj[key]}}</label>

</div>
<!-- <label for="key" *ngFor="let k of sortedKeys">{{k}}</label> -->


